@model HotelStay.Models.ViewModels.ReservationDetailsViewModel
@using HotelStay.Extensions
@using HotelStay.Utility
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Edit Reservations</h2>

<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Reservation.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Reservation.CustomerEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Reservation.CustomerName" class="form-control" />
                </div>
                <span asp-validation-for="Reservation.CustomerName" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Reservation.CustomerEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Reservation.CustomerEmail" class="form-control" />
                </div>
                <span asp-validation-for="Reservation.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Reservation.ReservationDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Reservation.ReservationDate" id="datepicker" type="text" class="form-control" />
                </div>
                <span asp-validation-for="Reservation.ReservationDate" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Reservation.ReservationTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Reservation.ReservationTime" type="text" id="timepicker" class="form-control timepicker" />
                </div>
                <span asp-validation-for="Reservation.ReservationTime" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Reservation.CustomerPhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Reservation.CustomerPhoneNumber" class="form-control" />
                </div>
                <span asp-validation-for="Reservation.CustomerPhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Reservation.SalesPerson"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input asp-for="@Model.Reservation.SalesPerson.Name" readonly class="form-control" />
                        <input asp-for="@Model.Reservation.SalesPersonId" hidden />
                    }
                    else
                    {
                        <select asp-for="@Model.Reservation.SalesPersonId" asp-items="Model.SalesPerson.ToSelectListItemString(Model.Reservation.SalesPersonId)" class="form-control"></select>
                    }
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Reservation.isConfirmed"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Reservation.isConfirmed" class="form-control" />
                </div>
            </div>

        </div>

        <div class="col-6">
            <partial name="~/Views/Shared/_ReservationRoomDetails.cshtml" model="Model.Rooms"></partial>
        </div>


        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '6:00pm',
            defaultTime: '11',
            startTime: '10:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });

        $(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+3M"
            });
        });

        $(document).ready(function () {
            var reservationTime = document.getElementById("datepicker").value;
            var splitData = "";
            if (reservationTime.indexOf(" ") > 0) {
                splitData = reservationTime.split(" ");
            }
            else {
                splitData = reservationTime.split("T");
            }

            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ";") {
                time = time.substring(0, time.length - 1);
            }

            var amPmTime = splitData[2];
            $("#datepicker").attr("value", splitData[0]);
            $("#timepicker").attr("value", time + " " + amPmTime);
        })
    </script>

}
