@model HotelStay.Models.ViewModels.RoomsViewModel
@using HotelStay.Extensions
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Edit Room </h2>

<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Rooms.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Rooms.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Rooms.Name" class="form-control" />
            </div>
            <span asp-validation-for="Rooms.Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Rooms.Price"></label>
            </div>
            <div class="col-8">
                <input asp-for="Rooms.Price" class="form-control" />
            </div>
            <span asp-validation-for="Rooms.Price" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Rooms.Image"></label>
            </div>
            <div class="col-8">
                <input type="file" name="files" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4 mr-3">
                <label asp-for="RoomTypes"></label>
            </div>
            <div class="col-8">
                <select asp-for="@Model.Rooms.RoomTypeId" asp-items="Model.RoomTypes.ToSelectListItem(Model.Rooms.RoomTypeId)" class="form-control"></select>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-4 mr-3">
                <label asp-for="RoomTags"></label>
            </div>
            <div class="col-8">
                <select asp-for="@Model.Rooms.RoomTagsID" asp-items="Model.RoomTags.ToSelectListItem(Model.Rooms.RoomTagsID)" class="form-control"></select>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Rooms.Available"></label>
            </div>
            <div class="col-6">
                <input asp-for="Rooms.Available" type="checkbox" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Rooms.NonSmoking" class="mx-auto"></label>
            </div>
            <div class="col-6">
                <input asp-for="Rooms.NonSmoking" type="checkbox" class="form-control" />
            </div>
        </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Rooms.Image" style="border-radius:5px;width:100%; border:1px solid #808080" />
        </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
